/* You can add global styles to this file, and also import other style files */
* > body {
    font-size: 18px;
}

a {
    color: orange;
    font-size: 20px;
    margin: auto 2% auto 2%;
}

    a:hover {
        color: yellow;
        background-color: darkslateblue;
    }

body {
    background-color: rgb(0, 0, 110);
}

div {
    margin: auto;
}

dl > * {
    color: white;
    display: contents;
}

dt {
    color: aquamarine;
}

form {
    margin-bottom: .5em;
}

h1, h2, h3, h4, h5 {
    color: white;
    text-align: center;
}

label {
    display: block;
    color: white;
}

li {
    margin-bottom: 5em;
    margin-top: 5em;
    text-align: center;
}

nav {
    background-color: rgb(100,100,100);
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 500;
}

    nav > a {
        color: orange;
        margin: auto 2.5% auto 2.5%;
    }

p {
    text-align: center;
    margin-top: 30px;
    color: white;
}

    p > a {
        margin-left: 0;
        margin-right: 0;
    }

table {
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: white;
    background-color: rgb(0, 0, 110);
    opacity: .8;
}

    td > a:hover {
        color: floralwhite;
    }

ul {
    list-style: none;
}

.center-div {
    text-align: center;
}

.checkbox-div {
    margin-top: .5em;
    margin-bottom: .5em;
    display: inline-flex;
}

    .checkbox-div > p {
        margin-top: 0;
        margin-bottom: 0;
    }

.data-div {
    display: inline-grid;
    padding-left: 25%;
}
.data-div > * {
    text-align: left;
    margin-right: unset;
 }

.error {
    margin-top: 0;
    margin-bottom: 10px;
    color: red;
}

.highlight {
    background-color: rebeccapurple;
    opacity: 0.8
}

.main-div {
    margin-top: 50px;
}

.text-centred {
    max-width: 100%;
    width: 680px;
    margin: auto;
}

.table-title {
    background-color: rebeccapurple;
}

    .table-title > th:active:not(.non-sortable) {
        background-color: pink;
    }

    .table-title > th:hover:not(.non-sortable) {
        background-color: purple;
    }
