
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="center-div"> 
    <p class="text-centred">
        This is similar to my angular website. I have once again disabled editing for
        generals as allowing arbitrary text would make it possible for obscene material
        to be placed in the database.

        <b>This Webiste is work in progress</b>
        This was made using visual studio 2017
        <b>C# ASP.net MVC, Entity Frameworks</b>
    </p>
</div>