
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lyndon's MVC</h2>
<div class="center-div"> 
    <p class="text-centred">
        This is similar to my <a href="http://lyndonmackay.com/angular/#/about">Angular website</a>. I have once again disabled editing for
        generals as allowing arbitrary text would make it possible for obscene material
        to be placed in the database.

        <b>This Website is work in progress.</b>
        This was made using visual studio 2017
        <b>C# ASP.net MVC, LINQ, Entity Frameworks, TypeScript and JQuery.</b>
        Source code (with history ) can be found <a href="https://github.com/Lyndon-Mackay/MVCWebsite">here </a>
    </a>
</div>