<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5b5e5d9a-ed96-425f-8fd6-d2ec74196b8f/resourcegroups/LyndonMVCWebsiteResourceGroup/providers/Microsoft.Web/sites/LyndonMVCWebsite</ResourceId>
    <ResourceGroup>LyndonMVCWebsiteResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lyndonmvcwebsite.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lyndonmvcwebsite.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LyndonMVCWebsite</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LyndonMVCWebsite</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MVCWebsite.Models.GenDBContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:lyndonmvcwebsitedbserver.database.windows.net,1433;Initial Catalog=general_database;User ID=lyndon@lyndonmvcwebsitedbserver;Password=Carthage814" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MVCWebsite.Models.GenDBContext, MVCWebsite" MigrationConfiguration="MVCWebsite.Migrations.Configuration, MVCWebsite" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MVCWebsite.Models.DateDBContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:lyndonmvcwebsitedbserver.database.windows.net,1433;Initial Catalog=date_database;User ID=lyndon@lyndonmvcwebsitedbserver;Password=Carthage814" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MVCWebsite.Models.DateDBContext, MVCWebsite" MigrationConfiguration="MVCWebsite.Migrations.ContextDate.Configuration, MVCWebsite" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MVCWebsite.Models.DateDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lyndonmvcwebsitedbserver.database.windows.net,1433;Initial Catalog=date_database;User ID=lyndon@lyndonmvcwebsitedbserver;Password=Carthage814</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MVCWebsite.Models.GenDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lyndonmvcwebsitedbserver.database.windows.net,1433;Initial Catalog=general_database;User ID=lyndon@lyndonmvcwebsitedbserver;Password=Carthage814</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="MVCWebsite.Models.DateDBContext" />
    <_ConnectionStringsToInsert Include="MVCWebsite.Models.GenDBContext" />
  </ItemGroup>
</Project>